body {
  margin: 0;
}

h1,
h3 p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-text h1 {
  font-size: 3rem;
  color: white;
}

.grid-container-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
  margin: 0 auto;
  width: 80%;
  gap: 6rem;
}

.grid-container-title p {
  display: inline-block;
  margin: 0;
}

.grid-container-title button {
  padding: 1rem;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.900);
  border: 1px solid black;
  margin: 0 1rem 1rem 0;
}

#title {
  background-image: linear-gradient(to bottom right, #ff0000, #0000f1);
}

.grid-container-title .google-play {
  background-color: #ffffff00;
}

#features {
  background-color: rgba(0, 0, 0, 0.850);
}

.flexbox-container-features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 6rem 0;
}

.flexbox-container-features>* {
  text-align: center;
}

#testimonial {
  background-color: rgba(0, 0, 0, 0.950);
}

.container-testimonial {
  text-align: center;
  color: white;
  padding: 3rem 0;
}

img[alt="dog-image"] {
  border-radius: 50%;
  margin-top: 2rem;
}

.flex-container-images {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#footer {
  background-image: linear-gradient(to bottom right, #ff0000, #0000f1);
}

.grid-container-footer li ,.grid-container-cards li{
  list-style-type: none;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.grid-container-footer {
  color: white;
  font-weight: 300;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
  gap: 6rem;
  padding: 3rem;
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lists h3 {
  margin-top: 0;
}

.lists ul {
  margin-top: 0;
  padding-left: 0;
}

#pricing {
  background-color: rgba(0, 0, 0, 0.850);
  padding: 3rem;
}

.container-pricing{
  color: white;
  text-align: center;
  margin: 0 auto;
}

.tagline{
  font-size: 3rem;
}

.grid-container-cards{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2rem;
}

.grid-container-cards>*{
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 2rem;
}

.grid-container-cards button{
  width: 90%;
  border-radius: 0.5rem;
  color: white;
  background-color: #00000060;
  padding: 0.5rem;
  font-weight: 700;
  box-shadow: 1rem 1rem 1rem #000000;
}

.grid-container-cards ul{
  padding-left: 0;
}

@media(max-width:800px) {
  .grid-container-title {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .flexbox-container-features {
    flex-direction: column;
  }

  .grid-container-footer {
    text-align: center;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
  }

  .lists {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .flex-container-images {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .grid-container-cards{
    grid-template-columns: 1fr;
  }

}